    body {
        margin: 0;
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f9;
        color: #333;
    }

    .about-pic {
        width: 400px;
    }
  
  .about-pic-shadow {
    filter: drop-shadow(20px 10px 8px #5c4b51);
  }

  .main__aside-code {
    background-color: #faf6e2;
    color: #f06060;
  }
  
  .main__aside-code code {
    font-family: "Courier New", Courier, monospace;
    font-size: 1.5em;
  }