/* Основные стили для всей страницы */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
}
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0.5em 0;
  }
  
  p {
    margin: 1em 0;
    line-height: 1.6em;
  }
  
  .header {
    background-color: #6c63ff;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    height: 50px;
    flex: 1;
    z-index: 1000;
  }

  .nav {
      background-color: #4842c2;
      display: flex;
      justify-content: center;
      padding: 10px 0;
      position: fixed;
      width: 100%;
      top: 70px;
      z-index: 1000;
  }
  
    .nav__item {
      list-style: none;
      margin: 0 15px;
      display: inline-block;
    }

  .nav__item a {
      color: #ffffff;
      text-decoration: none;
      padding: 5px 10px;
  }

  .nav__item a:hover {
      background-color: #6c63ff;
      border-radius: 5px;
  }

  .nav__item a.active {
    font-weight: bold;
    color: #ff0;
}
  
  .main {
    flex: 1;
    padding-top: 130px; /* Отступ для шапки и навигации */
  }

  .section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .footer {
    background-color: #333366;
    color: #ffffff;
    text-align: center;
    padding: 10px;
  }
  
  .article {
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #ffffff;
  }
  
  .blockquote {
    margin: 20px;
    padding: 10px;
    background-color: #e6e6fa;
    border-left: 5px solid #6c63ff;
    font-style: italic;
  }

  pre {
    background-color: #f5f5f5;
    padding: 10px;
    border: 1px solid #ddd;
    overflow-x: auto;
  }

  code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: #b926d7;
    white-space: pre-wrap;
  }
  
  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  ul, ol {
    padding-left: 20px;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-uppercase {
    text-transform: uppercase;
  }
  
  .text-italic {
    font-style: italic;
  }
  
  .text-bold {
    font-weight: bold;
  }